- name: Import platform tasks (Arch Linux)
  ansible.builtin.import_tasks: '{{ role_path }}/tasks/archlinux.yml'
  when: ansible_distribution == 'Archlinux'

- name: Import platform tasks (macOS)
  ansible.builtin.import_tasks: '{{ role_path }}/tasks/macos.yml'
  when: ansible_distribution == 'MacOSX'

- name: Make installed Cargo binaries available in $PATH
  ansible.builtin.import_tasks: '{{ playbook_dir }}/roles/zsh/tasks/render_env.yml'
  vars:
    filename: 'rustbin'
    variables:
      - name: PATH
        value: '{{ ansible_env.HOME }}/.cargo/bin:${PATH}'
