[submodule "zplug"]
	path = user-config/shell/.zplug
	url = https://github.com/zplug/zplug
[submodule "base16-xresources"]
	path = user-config/xorg/.xcolors/base16
	url = https://github.com/chriskempson/base16-xresources
[submodule "base16-shell"]
	path = user-config/shell/.zsh-extras/colors/base16-shell
	url = https://github.com/chriskempson/base16-shell
[submodule "vim-plug"]
	path = user-config/neovim/.config/nvim/bundle/vim-plug
	url = https://github.com/junegunn/vim-plug
[submodule "solarized-xresources"]
	path = user-config/xorg/.xcolors/solarized
	url = https://github.com/solarized/xresources
[submodule "tpm"]
	path = user-config/tmux/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "tmux-colors-solarized"]
	path = user-config/tmux/.tmux/plugins/tmux-colors-solarized
	url = https://github.com/seebi/tmux-colors-solarized
[submodule "straight.el"]
	path = ansible/roles/emacs/files/.emacs.d/straight/repos/straight.el
	url = https://github.com/raxod502/straight.el
[submodule "base16-alacritty"]
	path = ansible/roles/alacritty/files/colors/base16
	url = https://github.com/aaron-williamson/base16-alacritty
[submodule "base16-fzf"]
	path = user-config/shell/.zsh-extras/colors/base16-fzf
	url = https://github.com/nicodebo/base16-fzf
[submodule "base16-tmux"]
	path = user-config/tmux/.tmux/plugins/base16-tmux
	url = https://github.com/mattdavis90/base16-tmux
[submodule "base16-zathura"]
	path = user-config/zathura/.config/zathura/base16-zathura
	url = https://github.com/nicodebo/base16-zathura
[submodule "ansible/tools/prettier"]
	path = ansible/tools/prettier
	url = https://github.com/Saser/mk-prettier
