dependencies:
  - role: arch
    when: ansible_facts["distribution"] == 'Archlinux'
  - role: ssh  # So that the SSH config fragments directory has been created.
  - role: yay
    when: ansible_facts["distribution"] == 'Archlinux'
