- name: Import platform tasks (Arch Linux)
  ansible.builtin.import_tasks: '{{ role_path }}/tasks/archlinux.yml'
  when: ansible_facts["distribution"] == 'Archlinux'

- name: Import platform tasks (macOS)
  ansible.builtin.import_tasks: '{{ role_path }}/tasks/macos.yml'
  when: ansible_facts["distribution"] == 'MacOSX'

- name: Install VS Code extensions from registry
  ansible.builtin.command:
    cmd: 'code --install-extension {{ item.name }}@{{ item.version }}'
    creates: '{{ ansible_env.HOME }}/.vscode/extensions/{{ item.name + "-" + item.version }}'
  loop:
    - { name: 'Lencerf.beancount', version: '0.13.0' }
    - { name: 'bierner.github-markdown-preview', version: '0.3.0' }
    - { name: 'dongfg.vscode-beancount-formatter', version: '1.5.0' }
    - { name: 'golang.go', version: '0.48.0' }
    - { name: 'mechatroner.rainbow-csv', version: '3.20.0' }
    - { name: 'vscodevim.vim', version: '1.30.1' }
    - { name: 'xaver.clang-format', version: '1.9.0' }
    - { name: 'zxh404.vscode-proto3', version: '0.5.5' }
