#!/bin/sh

entries=()

{% for role in roles %}
# Priority {{ role.priority }}: role `{{ role.name }}`.
{% for entry in role.entries %}
entries+=("{{ entry }}")
{% endfor %}
{% endfor %}

_PATH="$(printf ":%s" "${entries[@]}")"
_PATH="${_PATH:1}" # skip the leading ':'
export PATH="${_PATH}"
