- name: Install zsh (Arch Linux)
  become: true
  community.general.pacman:
    name:
      - zsh

- name: Set user shell to zsh (Arch Linux)
  become: true
  ansible.builtin.user:
    name: '{{ ansible_facts["env"].USER }}'
    shell: '/usr/bin/zsh'
