- name: Import platform tasks (Arch Linux)
  ansible.builtin.import_tasks: '{{ role_path }}/tasks/archlinux.yml'
  when: ansible_distribution == 'Archlinux'

- name: Import platform tasks (macOS)
  ansible.builtin.import_tasks: '{{ role_path }}/tasks/macos.yml'
  when: ansible_distribution == 'MacOSX'

- name: Link zplug directory to $ZPLUG_HOME
  ansible.builtin.file:
    src: '{{ role_path }}/files/zplug'
    dest: '{{ zsh_env.ZPLUG_HOME }}'
    state: link

- name: Link plugins directory to its place
  ansible.builtin.file:
    src: '{{ role_path }}/files/zshplugins'
    dest: '{{ zsh_env.ZSHPLUGINS }}'
    state: link

- name: Ensure zsh extension directories exist
  ansible.builtin.file:
    path: '{{ item }}'
    state: directory
  loop: '{{ zsh_dirs }}'

- name: Render own environment variables file
  ansible.builtin.import_tasks: '{{ playbook_dir }}/roles/zsh/tasks/render_env.yml'
  vars:
    filename: 'zsh'
    variables: '{{ zsh_env | dict2items(key_name="name", value_name="value") }}'

- name: Link own aliases into place
  ansible.builtin.file:
    src: '{{ role_path }}/files/aliases.zsh'
    dest: '{{ zsh_env.ZSHALIASES }}/zsh.zsh'
    state: link

- name: Link empty zsh extra file into place
  ansible.builtin.file:
    src: '{{ role_path }}/files/emptyextra.zsh'
    dest: '{{ zsh_env.ZSHEXTRAS }}/emptyextra.zsh'
    state: link

- name: Ensure startup files are in place
  loop:
    - '.prompt'
    - '.zshenv'
    - '.zshrc'
  ansible.builtin.file:
    src: '{{ role_path }}/files/{{ item }}'
    dest: '{{ ansible_env.HOME }}/{{ item }}'
    state: link
