- name: Import platform tasks (Arch Linux)
  ansible.builtin.import_tasks: '{{ role_path }}/tasks/archlinux.yml'
  when: ansible_facts["distribution"] == 'Archlinux'

- name: Import platform tasks (macOS)
  ansible.builtin.import_tasks: '{{ role_path }}/tasks/macos.yml'
  when: ansible_facts["distribution"] == 'MacOSX'

- name: Render less-environment variables
  ansible.builtin.import_tasks: '{{ playbook_dir }}/roles/zsh/tasks/render_env.yml'
  vars:
    filename: 'less'
    variables: '{{ less_env | dict2items(key_name="name", value_name="value") }}'
