#!/bin/bash

# Load all general login configuration.
source "$HOME/.login/login"

# Source an `.xsessionrc`, if it exists.
XSESSIONRC="$HOME/.xsessionrc"
if [[ -e "$XSESSIONRC" ]]; then
    source "$HOME/.xsessionrc"
fi

# Load general Xresources settings.
xrdb -merge "${HOME}/.Xresources"

# Load Xresources colorscheme. Affects e.g. polybar colors.
xrdb -merge "${HOME}/.xcolors/base16/xresources/base16-${BASE16_THEME}.Xresources"

# Sets the background image.
WALLPAPER="milky-way.jpg"
feh --bg-fill --no-fehbg "${HOME}/.wallpapers/${WALLPAPER}"

# Make sure the ~/.logs folder exists, so that we can log sxhkd command output to it.
LOGS_DIR="${HOME}/.logs"
if [ ! -e "${LOGS_DIR}" ]; then
    mkdir -p "${LOGS_DIR}/.logs"
fi
sxhkd -r "${LOGS_DIR}/sxhkd.log" &
