- name: Import platform tasks (Arch Linux)
  ansible.builtin.import_tasks: '{{ role_path }}/tasks/archlinux.yml'
  when: ansible_distribution == 'Archlinux'

- name: Import platform tasks (macOS)
  ansible.builtin.import_tasks: '{{ role_path }}/tasks/macos.yml'
  when: ansible_distribution == 'MacOSX'

- name: Render Go environment variables
  ansible.builtin.import_tasks: '{{ playbook_dir }}/roles/zsh/tasks/render_env.yml'
  vars:
    filename: 'go'
    variables: '{{ go_env | dict2items(key_name="name", value_name="value") }}'

- name: Make installed Go binaries available in $PATH
  ansible.builtin.import_tasks: '{{ playbook_dir }}/roles/zsh/tasks/render_env.yml'
  vars:
    filename: 'gobin'
    variables:
      - name: PATH
        value: '{{ go_env.GOPATH }}/bin:${PATH}'
