#!/bin/bash

# This is the MAC address for the Bluetooth headphones that I use. The
# environment variable is used for various things, such as the module in polybar
# that allows me to connect/disconnect my headphones with a single click.
export BLUETOOTH_PHONES_MAC="XX:XX:XX:XX:XX:XX"
