[user]
	email = saser@live.se
	name = Christian Persson
[core]
	pager = diff-so-fancy | less
[alias]
	s = status
	l = log --oneline --decorate --graph --all
	d = diff
	dc = diff --cached
	c = commit
	amend = commit --amend
	cm = commit -m
	co = checkout
	cob = checkout -b
	ane = commit --amend --no-edit
	f = fetch
    push-new = !git push -u origin $(git symbolic-ref --short HEAD)
