- name: Import platform tasks (Arch Linux)
  ansible.builtin.import_tasks: '{{ role_path }}/tasks/archlinux.yml'
  when: ansible_facts["distribution"] == 'Archlinux'

- name: Import platform tasks (macOS)
  ansible.builtin.import_tasks: '{{ role_path }}/tasks/macos.yml'
  when: ansible_facts["distribution"] == 'MacOSX'

- name: Ensure .todo.cfg is in place
  file:
    src: '{{ role_path }}/files/.todo.cfg'
    dest: '{{ ansible_env.HOME }}/.todo.cfg'
    state: link

- name: Set up todo.sh aliases
  ansible.builtin.file:
    src: '{{ role_path }}/files/aliases.zsh'
    dest: '{{ zsh_env.ZSHALIASES }}/todotxt.zsh'
    state: link
